@import "./../../assets/palette";
@import "./../../assets/devices";

.grid {
    background-color: $color-three;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 60px;
    opacity: 80%;
    height: auto;
    min-height: 60vh;
    @include sm {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.noBooks {
    display: flex;
    justify-content: center;
    background-color: $color-three;
    padding: 60px;
    opacity: 80%;
    height: auto;
    min-height: 60vh;
    font-size: 200%;
    color: red;
    font-weight: bold;
    text-align: center;
}
